body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.forgetpassword {
  float: right;
  margin-right: -8%;
  margin-bottom: 14px;
}

input {
  border: 1px solid #cccccc;
  width: 96%;
  border-radius: 5px;
  padding: 2%;
}

input:focus {
  border: 1px solid #cccccc !important;
}

.signin {
  width: 100%;
}

.signin_part {
  width: 30%;
  box-shadow: 5px 5px 8px 10px #e5e7eb;
  margin: 5% auto;
  border: 1px solid #e5e7eb;
  padding: 5%;
}

.signin_title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.accout,
.password,
.confirmpassword,
.logs {
  margin: 14px 0;
}

.submit {
  width: 40%;
  background-color: #dc2626;
  margin: 0 30%;
  border-radius: 10px;
  color: #ffffff;
  padding: 2%;
  cursor: pointer;
}

#togglePassword {
  margin-left: 10px;
  cursor: pointer;
  display: inline-block;
}

@media only screen and (min-width: 300px) and (max-width: 767px) {
  .signin {
    width: 100%;
    height: 100vh;
  }

  .signin_part {
    width: 65% !important;
    margin: 50% auto !important;
  }

  #togglePassword,
  #toggleconfirm {
    top: -21px !important;
  }

}