<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="preload" href="/static/a34f9d1faa5f3315-s.p.woff2" as="font" crossorigin="" type="font/woff2" />
  <link rel="preload" as="image" href="/image/logo.png" />
  <link rel="preload" as="image"
    href="https://zknown-1251007641.cos.ap-guangzhou.myqcloud.com/images/20240130090120.png" />
  <link rel="preload" as="image" href="/image/hb_bottom.png" />
  <link rel="stylesheet" href="/assets/css/login.css" data-precedence="next" />
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-L50J0T914F"></script>
  <!-- jq插件 -->
  <script src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-2-M/jquery/3.5.1/jquery.min.js"
    type="application/javascript"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- toastr提示插件 -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <!-- 引入字体图标库 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

  <link rel="icon" href="/favicon.ico" />
  <title>AI 红包封面生成器 ｜ AI Cover</title>
  <meta name="description" content="AI 红包封面生成器，利用 AI 技术生成高清精美的微信红包封面图片。" />
  <meta name="keywords" content="AI 红包封面生成器, 微信红包封面, 微信红包, AI 红包封面, AI Cover" />
  <link rel="canonical" href="http://dev.aicovers.com" />
  <link rel="icon" href="/favicon.ico" type="image/x-icon" sizes="128x128" />
  <meta name="next-size-adjust" />
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-L50J0T914F");
  </script>
</head>

<body monica-id="ofpnmcalabcbjgholdjcjblkibolbppb" monica-version="7.4.2">
  <div class="signin">
    <form method="post" enctype="multipart/form-data">
      <div class="signin_part">
        <div class="signin_title">
          <h2>登录</h2>
        </div>
        <div class="accout">
          <!-- <label for="name">账号:</label> -->
          <input type="text" id="name" name="name" required placeholder="请输入账号" />
        </div>
        <div class="password">
          <!-- <label for="password">密码:</label> -->
          <!-- style="display: inline-block; width: 58%" -->
          <input type="password" id="password" name="password" style="display: inline-block;" required
            placeholder="请输入密码" />
          <button type="button" id="togglePassword" class="btn btn-link"
            style="float: right;position: relative;top: -25px;right: 25px;border: none; background-color: #fff;">
            <i class='fa fa-eye-slash' aria-hidden='true'></i>
          </button>
        </div>

        <div class="logs">
          <a href="/forgotpassword" class="forgetpassword">忘记密码？</a>
          <input id="submit" class="submit" type="submit" value="登录" />

          <div>
            未注册账号?
            <a href="/register">立即注册</a>
          </div>
        </div>
    </form>
  </div>
</body>

</html>
<script>
  $("#togglePassword").click(function () {
    var $passwordInput = $("#password");
    if ($passwordInput.attr("type") === "password") {
      $passwordInput.attr("type", "text");
      $(this).html("<i class='fa fa-eye'></i>");
    } else {
      $passwordInput.attr("type", "password");
      $(this).html("<i class='fa fa-eye-slash' aria-hidden='true'></i>");
    }
  });
  function setCache(key, value) {
    localStorage.setItem(key, JSON.stringify(value));
  };
  $(document).on("click", "#submit", function (e) {
    e.preventDefault();
    var name = $("#name").val();
    var password = $("#password").val();
    if (!name || !password) {
      toastr.error("请先填写账号或者密码");
      return;
    }
    var userinfo = JSON.parse(localStorage.getItem('userinfo')) ? JSON.parse(localStorage.getItem('userinfo')) : 0;
    var userid = userinfo.id ? userinfo.id : 0;
    $.ajax({
      type: "POST",
      url: "/login",
      data: {
        name: name,
        password: password,
        userid: userid
      },
      success: function (response) {
        console.log("请求成功", response);

        if (response.code) {
          toastr.success(response.message);
          setCache('userinfo', response.data);
          window.location.href = "/";
        } else {
          var confirmAction = toastr.error(response.message);
          setTimeout(function () {
            $("#name").val('');
            $("#password").val('');
          }, 2500);
        }
      },
      error: function (xhr, status, error) {
        toastr.error("登录请求失败，请稍后再试");
      },
    });
  });
</script>